.Search {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.Search-input {
  display: block;
  font-size: 20px;
  font-weight: 300;
  width: calc(100% - 70px);
  height: 40px;
  border: 0;
  padding: 0.5em;
  border-radius: 0.2em 0 0 0.2em;
  transition: all 200ms ease-in-out;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-appearance: none;
  border: 1px solid rgba(255, 255, 255, 0.8);
}

.Search-input:focus {
  outline: none;
  border-color: rgba(255, 255, 255, 1);
}

.Search-submit {
  height: 40px;
  width: 90px;
  font-size: 20px;
  font-weight: 300;
  border-radius: 0 0.2em 0.2em 0;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #fff;
  border-left: 0;
  color: #fff;
  cursor: pointer;
}

.Search-submit:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.Search-submit:active {
  background-color: rgba(0, 0, 0, 0.8);
}

.Search-refresh {
  width: 32px;
  height: 32px;
  margin-left: 20px;
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.Search-refresh:hover svg {
  fill: #000;
}

.Search-refresh svg {
  fill: #fff;
}
